<div class="wrapper">

  <div class="content">
    <div class="intro">
      <div class="container">
        <div class="intro__row">


          <!-- Street + phone number -->
          <div class="contacts__row">
            <div class="col street">Новокузнечный переулок 4/1</div>
            <div class="col phone">8 (812) 123-45-67</div>
          </div>

          <!-- Main menu -->
          <div class="main-menu__row">
            <div class="col outerbox">
              <a href="">Каталог</a>
            </div>
            <div class="col innerbox">
              <a href="">Доставка</a>
            </div>
            <div class="col innerbox">
              <a href="">Коллекции</a>
            </div>
            <div class="col outerbox">
              <a href="">Контакты</a>
            </div>
          </div>

          <!-- Buttons -->
          <div class="btns__row">
            <div class="col leftbtn">
              <span class="btntxt">ВИННАЯ КАРТА</span>
            </div>
            <div class="col rightbtn">
              <span class="btntxt">ДЕГУСТАЦИЯ</span>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <span>Footer here!</span>
    </div>
  </footer>

</div>
