<div class="main">
  <div class="a1body">
    <div class="content">
      <div class="container">
        <ul>
          <li *ngFor="let obj of kanjiArr">

            <div class="kanji__block waves-light" type="button" mdbPopover="{{obj.on}}" placement="top"
              mdbPopoverHeader="{{obj.meaning}}" mdbWavesEffect>

              <div>
                <span class="kun">{{obj.kun}}</span>
                <span class="on">{{obj.on}}</span>
              </div>
              <div><span class="kanjiInCard">{{obj.name}}</span></div>
            </div>
          </li>
        </ul>
      </div>

      <div class="pagin sticky-bottom">
        <button [disabled]="prevDis()" (click)="prevPage()" mat-raised-button><mat-icon>keyboard_arrow_left</mat-icon></button>
        <input disabled [defaultValue]="pageNumber" />
        <button [disabled]="nextDis()" (click)="nextPage()" mat-raised-button><mat-icon>keyboard_arrow_right</mat-icon></button>
      </div>

      <!-- TODO make more checkboxes with variants 1:Hiragana 2:Katakana 3:Traslate -->
      <!-- <div class="kanaToggle sticky-bottom">
        <section>
          <span>Translate</span>

          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitches">
            <label class="custom-control-label" for="customSwitches"></label>
          </div>
        </section>
      </div> -->
    </div>
  </div>
</div>
