/* You can add global styles to this file, and also import other style files */
body {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  a{
    text-decoration: none;
    color: #FFFFFF;
    transition: color .2s linear;

  }
  a:hover{
    color: #c55c36;
    transition: color .2s linear;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }


}



