/* You can add global styles to this file, and also import other style files */
body {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  a{
    text-decoration: none;
    color: #FFFFFF;
    transition: color .2s linear;

  }
  a:hover{
    color: #c55c36;
    transition: color .2s linear;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .intro {
    width: 100%;
    height: 100vh;
    background: url('./app/media/bgc.jpg') center no-repeat;
    background-size: cover;
    padding: 30px 405px;

    .street {
      text-align: left;
    }

    .phone {
      text-align: end;
    }

    .main-menu {
      margin-top: 30px;
      min-height: 47px;
      margin-bottom: 423px;

      .innerbox {
        border: 1px solid #FFFFFF;
      }

      .outerbox {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
      }

      .innerbox,
      .outerbox {
        //text-align: center;
        padding-left: 55px;
        padding-top: 10px;
      }
    }

    .btns {
      padding: 0;
      margin-left: 20%;
      max-width: 415px;
      min-height: 50px;
      left: 752px;
      top: 700px;
      transition: .3s box-shadow;
      :hover{
        box-shadow: 5px 10px 8px #2a29297b;
        transition: .3s box-shadow;
      }

      .leftbtn {
        margin-right: 30px;
      }

      .leftbtn,
      .rightbtn {
        background: #998431;
        max-width: 203px;
        display: flex;
        align-items: center;
        justify-content: center;

      }

    }
  }
}
