.container{
  .head{
    text-align: center;
  }


}
#userCount{
  color: rgb(183, 187, 191);
  display: block;
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;

  strong{
    color: rgb(255, 123, 0);
  }
}
