.container {
  max-width: 1110px;
  margin: 0 auto;

  .contacts__row {
    display: flex;
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: space-between;
  }

  .main-menu__row {
    a {
      text-decoration: none;
      color: white;
      transition: .4s color;

      &:hover {
        color: rgb(212, 103, 103);
        transition: .2s color;
      }

    }

    display: flex;
    justify-content: space-between;

    .innerbox,
    .outerbox {
      padding: 13px 101px;
      width: 285px;
    }

    .innerbox {
      border: 1px solid #FFFFFF;
    }

    .outerbox {
      border-top: 1px solid #FFFFFF;
      border-bottom: 1px solid #FFFFFF;
    }
  }

  .btns__row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 585px;

    .lbtn,
    .rbtn {
      width: 203px;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 15px 30px;
      transition: .5s box-shadow;
      background: #99862A;
    }

    .lbtn:hover,
    .rbtn:hover {
      box-shadow: 5px 10px 8px #2a29297b;
      transition: .3s box-shadow;
      cursor: pointer;
    }

    .rbtn {
      margin-left: 15px;
    }

    .lbtn {
      margin-right: 15px;
    }
  }
}

.content {
  width: 100%;
  height: 100vh;
  background: url(../assets/images/bgc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.footer {
  background-color: bisque;

  .footer__row {

    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  color: #fff;
}
