<div class="intro">
  <div class="container">

    <!-- Street + phone number -->
    <div class="row">
      <div class="col street">Новокузнечный переулок 4/1</div>
      <div class="col phone">8 (812) 123-45-67</div>
    </div>

    <!-- Main menu -->
    <div class="row main-menu">
      <div class="col outerbox">Каталог</div>
      <div class="col innerbox">Доставка</div>
      <div class="col innerbox">Коллекции</div>
      <div class="col outerbox">Контакты</div>
    </div>

    <!-- Main menu -->
      <div class="row btns">
        <div class="col leftbtn">
          <span>ВИННАЯ КАРТА</span>
        </div>
        <div class="col rightbtn">
          <span>ДЕГУСТАЦИЯ</span>
        </div>
      </div>
  </div>
</div>
