<form [formGroup]="service.formModel" autocomplete="on" (submit)="onSubmit()">
  <div class="form-group required">
    <label>Username</label>
    <input class="form-control" formControlName="userName">
    <label class="text-danger" *ngIf="service.formModel.get('userName').touched && service.formModel.get('userName').errors?.required">This
      field is mandatory.</label>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" formControlName="email">
    <label class="text-danger" *ngIf="service.formModel.get('email').touched && service.formModel.get('email').errors?.email">Invalid
      email address.</label>
  </div>
  <div class="form-group">
    <label>First Name</label>
    <input class="form-control" formControlName="firstName">
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input class="form-control" formControlName="lastName">
  </div>
  <div formGroupName="Passwords">
    <div class="form-group required">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password">
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.password').touched && service.formModel.get('Passwords.password').errors?.required">This
        field is mandatory.</label>
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.password').touched && service.formModel.get('Passwords.password').errors?.pattern">Password does not match requirements</label>
    </div>
    <div class="form-group required">
      <label>Confirm Password</label>
      <input type="password" class="form-control" formControlName="ConfirmPassword">
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This
        field is mandatory.</label>
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm
        Password does not match.</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group mt-3 mb-3 col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formModel.valid">Sign Up</button>
    </div>
  </div>
</form>
